# Q1. Python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\admin\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"D:\Santhosh\Data Trained\Flip Robo Internship\chromedriver.exe")

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [11]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [12]:
  
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [13]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [14]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
df=pd.DataFrame({'Job Titiel':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Titiel,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
2,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
4,"Data Analyst, plsql, Tableau, Informatica","Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Capgemini,3-8 Yrs
5,Senior Data Analyst - SQL/Tableau,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Global Employees,7-12 Yrs
6,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
7,Data Analyst - Data Visualization & Reporting,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Global Employees,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
9,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs

# Q2. Python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [16]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [17]:
driver.get("https://www.naukri.com/")

In [18]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [19]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [20]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [21]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [23]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [24]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [25]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [26]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [27]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,5-12 Yrs
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
4,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-5 Yrs
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro,5-10 Yrs
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,11-20 Yrs
8,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited,6-11 Yrs
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies,5-8 Yrs

# Q3. Python Program to Scrape Loacation and Salary Filter

In [39]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [40]:
driver.get("https://www.naukri.com/")

In [41]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [42]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi')

In [43]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [44]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p')
salary.click()

In [45]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [46]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [47]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [48]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [49]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [50]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [51]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Data Scientist - Risk Platform,Bangalore/Bengaluru,Gojek,5-11 Yrs
3,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
5,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
6,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
8,Decision Scientist,Bangalore/Bengaluru,Gojek,4-9 Yrs
9,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs

# Q4. Data of first 100 sunglasses listings on flipkart.com

In [52]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [53]:
driver.get("http://www.flipkart.com/")

In [54]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [55]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [56]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [57]:
brand=[]
price=[]
product_description=[]

In [58]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [59]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [61]:
df=pd.DataFrame({'Brand':brand,"Price":price})

In [62]:
df

                Brand Price
0            Fastrack  ₹359
1            Fastrack  ₹749
2            Fastrack  ₹599
3              PIRASO  ₹224
4              SUNBEE  ₹283
5           Elligator  ₹298
6                SRPM  ₹211
7            Fastrack  ₹669
8              PIRASO  ₹252
9            Fastrack  ₹969
10         LIZA ANGEL  ₹179
11             GANSTA  ₹296
12             PIRASO  ₹323
13           Fastrack  ₹639
14         Lee Topper  ₹299
15  SHAAH COLLECTIONS  ₹195
16     ROZZETTA CRAFT  ₹474
17              NuVew  ₹276
18         IZAAN MART  ₹290
19          New Specs  ₹216
20             PIRASO  ₹221
21           Fastrack  ₹599
22           Fastrack  ₹599
23           Fastrack  ₹679
24         EYELLUSION  ₹199
25         Lee Topper  ₹219
26      VINCENT CHASE  ₹949
27     ROZZETTA CRAFT  ₹474
28     ROZZETTA CRAFT  ₹379
29     ROZZETTA CRAFT  ₹616
30          ROYAL SON  ₹664
31       Silver Kartz  ₹288
32     ROZZETTA CRAFT  ₹331
33             Sewell  ₹265
34             SUNBEE  ₹259
35      VINCENT CHASE  ₹749
36           Fastrack  ₹739
37     kingsunglasses  ₹213
38      VINCENT CHASE  ₹749
39   HAMIW COLLECTION  ₹197

# Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone

In [161]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [162]:
driver.get("http://www.flipkart.com/")

In [163]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [164]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('iphone11')

In [165]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [166]:
product=driver.find_element(By.CLASS_NAME,"_4rR01T")
product.click()

In [167]:
rating=[]
review_summary=[]
full_review=[]

In [168]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:5]:
    RA=i.text
    rating.append(RA)

In [169]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:5]:
    RE=i.text
    review_summary.append(RE)

In [170]:
reviewfull_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in reviewfull_tags[0:5]:
    RS=i.text
    full_review.append(RS)

In [171]:
print(len(rating), len(review_summary),len(full_review))

5 5 5

In [172]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,4,Good quality product,impressively Nice......\nOne of the greatest i...
1,5,Perfect product!,Nice products thanks flkat
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Simply awesome,Nice product thank you Flipkart ❤️
4,5,Best phone still @25-27K,Purchased at BBD @2016 Oct. After 5months of u...

# Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers”

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\admin\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:

driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.flipkart.com/")

In [5]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [6]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sneakers')

In [7]:

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [8]:
brand=[]
price=[]
product_description=[]

In [9]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [10]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [12]:
print(len(brand),len(price))

40 40

In [13]:
df=pd.DataFrame({'Brand':brand,"Price":price})

In [14]:
df

           Brand   Price
0         Layasa    ₹349
1       HOTSTYLE    ₹275
2          DELMY    ₹474
3   LOUIS STITCH  ₹1,499
4        Unistar    ₹402
5         Vallen    ₹499
6        Unistar    ₹480
7       RapidBox    ₹610
8   LOUIS STITCH  ₹1,424
9         Afreet    ₹499
10       Unistar    ₹458
11        BRUTON    ₹399
12        Gentax    ₹299
13          Souk  ₹1,999
14         PEXLO    ₹902
15  K' Footlance    ₹299
16        JRAASA    ₹499
17        Chevit    ₹586
18     Alex Zone    ₹649
19      Skechers  ₹2,399
20       Unistar    ₹394
21        Golazo  ₹1,099
22        JAISCO    ₹476
23        BRUTON    ₹470
24       Saswata    ₹959
25        Afreet    ₹499
26        JAISCO    ₹476
27        BRUTON    ₹423
28        JAISCO    ₹476
29        JAISCO    ₹476
30        KRISCA    ₹439
31      RapidBox    ₹620
32        JAISCO    ₹476
33        KRISCA    ₹549
34        JAISCO    ₹476
35        Harway    ₹480
36        JAISCO    ₹476
37          Hitz  ₹1,598
38       Unistar    ₹394
39       BOLTAGO    ₹599

# Q7. Scraping the first 100 shoes data

In [15]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [16]:

driver.get("https://www.myntra.com/shoes")

In [17]:
price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price.click()

In [18]:
colour=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/span[1]")
colour.click()

In [19]:
brand=[]
price=[]
product_description=[]

In [20]:
brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [21]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [22]:
product_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in product_tags[0:100]:
    PD=i.text
    product_description.append(PD)

In [23]:

print(len(brand),len(price),len(product_description))

50 50 50

In [24]:
df=pd.DataFrame({'Brand':brand,'Price':price,'Product Description':product_description})
df

,Brand,Price,Product Description
0,Skechers,Rs. 8999,Men Max Cushioning Running
1,Nike,Rs. 8295,Men ZOOM WINFLO8 Running Shoes
2,Nike,Rs. 11895Rs. 13995(15% OFF),Men React Infinity 3 Running
3,Nike,Rs. 10795,Men Colourblocked Sneakers
4,Puma,Rs. 8999,Women UltraRide Running Shoes
5,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
6,ADIDAS Originals,Rs. 9899Rs. 10999(10% OFF),Men Niteball II Sneakers
7,Puma,Rs. 9749Rs. 12999(25% OFF),Eternity Nitro Running Shoes
8,Nike,Rs. 12795,Men JORDAN LOW Basketball Shoe
9,Nike,Rs. 8795,Air Max Axis Sneakers
10,Hush Puppies,Rs. 7649Rs. 8999(15% OFF),Men Solid Leather Formal Slip-Ons
11,PUMA Motorsport,Rs. 7999,Scuderia Ferrari A3ROCAT Shoes
12,ADIDAS,Rs. 11999Rs. 14999(20% OFF),Men Solar Glide 4 ST Running
13,ADIDAS,Rs. 8499Rs. 9999(15% OFF),Men Defiant Generation Tennis
14,UNDER ARMOUR,Rs. 10999,Unisex Curry Basketball Shoes
15,Puma,Rs. 8999,Unisex Wild Rider Sneakers
16,Hush Puppies,Rs. 8499Rs. 9999(15% OFF),Men Solid Leather Formal Slip-Ons
17,Nike,Rs. 7465Rs. 8295(10% OFF),Women Running Shoes
18,Nike,Rs. 8295,Unisex Lebron V Basketball
19,ADIDAS,Rs. 9999,Men Supernova 2 Running Shoes
20,Puma,Rs. 9999,Women Liberate NITRO Running
21,ROSSO BRUNELLO,Rs. 12999,Men Printed Leather Monks
22,Nike,Rs. 10495,Men REACT MILER 3 Running Shoe
23,Puma,Rs. 12999,Men M Nitro Running Shoess
24,ADIDAS Originals,Rs. 11999,Men Solid Oznova Sneakers
25,ADIDAS,Rs. 7999,Women Eastrail 2 Hiking Shoes
26,Red Tape,Rs. 2219Rs. 7399(70% OFF),Men Solid Chelsea Boots
27,Nike,Rs. 8005Rs. 8895(10% OFF),Men SRG 3 FK Training Shoes
28,New Balance,Rs. 6049Rs. 10999(45% OFF),Men Woven Design Sneakers
29,Nike,Rs. 8295,Men Air Max Sneakers
30,ASICS,Rs. 8399Rs. 13999(40% OFF),Men GEL-Quantum 360 6 Sports
31,New Balance,Rs. 5499Rs. 9999(45% OFF),Men Woven Design Sneakers
32,ADIDAS,Rs. 9999,Women Supernova Running Shoes
33,Puma,Rs. 10999,Men Velocity Nitro 2 Running
34,ADIDAS Originals,Rs. 11049Rs. 12999(15% OFF),Men Ozrah Leather Sneakers
35,PUMA Hoops,Rs. 7149Rs. 10999(35% OFF),Fives Blaze Court Basketball
36,ROSSO BRUNELLO,Rs. 11999,Men Solid Formal Slip-On Shoes
37,Puma,Rs. 7199Rs. 8999(20% OFF),Unisex Eliminate Pro II Shoes
38,Puma,Rs. 7199Rs. 11999(40% OFF),Men KING Top Football Shoes
39,ADIDAS Originals,Rs. 11899Rs. 13999(15% OFF),Men Woven NMD_31 Sneakers
40,Clarks,Rs. 7899Rs. 9999(21% OFF),Men Leather Slip-Ons
41,Puma,Rs. 9749Rs. 12999(25% OFF),Women Eternity NITRO Shoes
42,UNDER ARMOUR,Rs. 9999,Men HOVR Sonic SE Running Shoe
43,ADIDAS,Rs. 10199Rs. 11999(15% OFF),Men Adizero Adios 7 Running
44,ADIDAS Originals,Rs. 9999,Men Retropy F90 Sneakers
45,Puma,Rs. 7999Rs. 9999(20% OFF),Women Run XX Nitro Running
46,GABICCI,Rs. 7450,Men Textured Leather Loafers
47,ADIDAS,Rs. 12999,Men Dropset Training Shoes
48,Nike,Rs. 8725Rs. 9695(10% OFF),Men FREE RUN 2 Sneakers
49,Puma,Rs. 9599Rs. 11999(20% OFF),Men Nitro 2 WIDE Running Shoes

# Q8. Scrape first 10 laptops data.

In [25]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [26]:
driver.get("https://www.amazon.in/")

In [27]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptops')

In [28]:

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [29]:
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span")
CPU.click()

In [30]:
title=[]
rating=[]
price=[]

In [31]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    tt=i.text
    title.append(tt)

In [32]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    PR=i.text
    price.append(PR)

In [33]:
rating_tags=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]//span')
for i in rating_tags[0:10]:
    RA=i.text
    rating.append(RA)

In [34]:

print(len(rating), len(title),len(price))

10 10 10

In [35]:
df=pd.DataFrame({'Rating':rating,'Title':title,'Price':price})
df

  Rating                                              Title     Price
0         Acer Predator Helios 300 11th Gen Intel Core i...  1,19,990
1         Acer Predator Helios 500 Gaming Laptop (11Th G...  3,79,990
2         Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K W...  2,73,300
3         Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K W...  2,38,900
4         ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) FH...  1,81,990
5         HP ZBook Power G8/ Intel core i9-11900H 8 Core...  2,39,500
6         ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.9...  2,78,990
7         ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) UH...  1,91,990
8         ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz...  1,99,990
9         (Renewed) Asus Rog Strix Scar 15 (2022) 15.6 I...  1,95,492

# Q9. Python program to scrape the salary data for Data Scientist designation

In [36]:

driver=webdriver.Chrome(r"chromedriver.exe")

In [37]:
driver.get("https://www.ambitionbox.com/")

In [38]:
jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
jobs.click()

In [39]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [40]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search.click()

In [41]:
select=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
select.click()

In [42]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location.send_keys('Noida')

In [43]:
ND=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
ND.click()

In [44]:
job_title=[]
company_name=[]

In [45]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [46]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [47]:
print(len(job_title),len(company_name))

10 10

In [48]:
df=pd.DataFrame({'Job Title':job_title,'Company Name':company_name})
df

,Job Title,Company Name
0,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd\n · \n4.3\nbased on 2....
1,Genpact - Data Scientist - Forecasting/Python/...,CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews)
2,Data Scientist,Genpact\n4.0\n(19.9k Reviews)
3,Data Scientist,Ericsson India Global Services Pvt. Ltd.\n4.3\...
4,Data Scientist,GENPACT India Private Limited\n4.0\n(19.9k Rev...
5,Associate Manager - Data Scientist,Optum Global Solutions (India) Private Limited...
6,Data Scientist,Optum Global Solutions (India) Private Limited...
7,Data Scientist,Ericsson India Global Services Pvt. Ltd.\n4.3\...
8,Data Scientist - Noida/Bangalore,SOPRA STERIA INDIA LIMITED\n4.2\n(1.2k Reviews)
9,EY - Data Engineer - Data Integration/Modeling...,EXL Services.com ( I ) Pvt. Ltd.\n3.9\n(5.1k R...

# Q10.python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [49]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [50]:
driver.get("https://www.ambitionbox.com/")

In [51]:
Select=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/a")
Select.click()

In [52]:
bsalary=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div")
bsalary.click()

In [53]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [54]:
dclick=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
dclick.click()

In [55]:
Experience_Required=[]
company_name=[]
Total_Salary=[]
Average=[]
Minimum=[]
Maximum=[]

In [56]:
experience_tags=driver.find_elements(By.CLASS_NAME,'sbold-list-header')
for i in title_tags[0:10]:
    exp=i.text
    Experience_Required.append(exp)

In [57]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [58]:
avg_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tags[0:10]:
  avg=i.text
  Average.append(avg)

In [59]:

TS_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in TS_tags[0:10]:
  TS=i.text
  Total_Salary.append(TS)

In [60]:
min_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_tags[0:10]:
  min=i.text
  Minimum.append(min)

In [61]:
max_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_tags[0:10]:
  max=i.text
  Maximum.append(max)

In [62]:
print(len(Experience_Required),len(company_name),len(Total_Salary),len(Minimum),len(Maximum))

10 10 10 10 10

In [63]:
df=pd.DataFrame({'Company Name':company_name,"Total Salary Record":Total_Salary,"Maximum Salary":Maximum, "Minimum Salary":Minimum})
df

,Company Name,Total Salary Record,Maximum Salary,Minimum Salary
0,Walmart\nData Scientist Salary,(based on 22 salaries),₹ 25.0L,₹ 25.0L
1,Ab Inbev\nData Scientist Salary,(based on 53 salaries),₹ 45.0L,₹ 45.0L
2,Optum\nData Scientist Salary,(based on 48 salaries),₹ 15.0L,₹ 15.0L
3,ZS\nData Scientist Salary,(based on 33 salaries),₹ 25.5L,₹ 25.5L
4,Fractal Analytics\nData Scientist Salary,(based on 109 salaries),₹ 11.0L,₹ 11.0L
5,Tiger Analytics\nData Scientist Salary,(based on 65 salaries),₹ 22.6L,₹ 22.6L
6,Legato Health Technologies\nData Scientist Salary,(based on 11 salaries),₹ 11.0L,₹ 11.0L
7,Tredence\nData Scientist Salary,(based on 12 salaries),₹ 22.0L,₹ 22.0L
8,UnitedHealth\nData Scientist Salary,(based on 91 salaries),₹ 9.0L,₹ 9.0L
9,Ford Motor\nData Scientist Salary,(based on 21 salaries),₹ 23.0L,₹ 23.0L