# Q1. Python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\stephen john\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\stephen john\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\stephen john\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\stephen john\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\stephen john\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\stephen john\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\stephen john\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\stephen john\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\stephen john\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\stephen john\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\stephen john\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\stephen john\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\stephen john\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\stephen john\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\stephen john\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\stephen john\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\stephen john\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: six>=1.5.2 in c:\users\stephen john\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\stephen john\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/")
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [4]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 0 0

In [5]:
df=pd.DataFrame({'Job Titiel':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

Empty DataFrame
Columns: [Job Titiel, Job Location, Company Name, Experience Required]
Index: []

# Q2. Python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [6]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [7]:
driver.get("https://www.naukri.com/")

In [8]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [9]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [10]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [11]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [13]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [14]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [15]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [16]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 0 0

In [17]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

Empty DataFrame
Columns: [Job Title, Job Location, Company Name, Experience Required]
Index: []

# Q3. Python Program to Scrape Loacation and Salary Filter

In [18]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
driver.get("https://www.naukri.com/")

In [20]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [21]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi')

In [22]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [23]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p')
salary.click()

In [24]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [25]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [26]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [27]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [28]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [29]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 0 0

In [30]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

Empty DataFrame
Columns: [Job Title, Job Location, Company Name, Experience Required]
Index: []

# Q4. Data of first 100 sunglasses listings on flipkart.com

In [31]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [32]:
driver.get("http://www.flipkart.com/")

In [33]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [34]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [35]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [36]:
brand=[]
price=[]
product_description=[]

In [37]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [38]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [39]:
df=pd.DataFrame({'Brand':brand,"Price":price})

In [40]:
df

Empty DataFrame
Columns: [Brand, Price]
Index: []

# Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone

In [41]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [42]:
driver.get("http://www.flipkart.com/")

In [43]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [44]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('iphone11')

In [45]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [46]:
product=driver.find_element(By.CLASS_NAME,"_4rR01T")
product.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"._4rR01T"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00FB78B3+2193587]
	Ordinal0 [0x00F50681+1771137]
	Ordinal0 [0x00E641A8+803240]
	Ordinal0 [0x00E924A0+992416]
	Ordinal0 [0x00E9273B+993083]
	Ordinal0 [0x00EBF7C2+1177538]
	Ordinal0 [0x00EAD7F4+1103860]
	Ordinal0 [0x00EBDAE2+1170146]
	Ordinal0 [0x00EAD5C6+1103302]
	Ordinal0 [0x00E877E0+948192]
	Ordinal0 [0x00E886E6+952038]
	GetHandleVerifier [0x01260CB2+2738370]
	GetHandleVerifier [0x012521B8+2678216]
	GetHandleVerifier [0x010417AA+512954]
	GetHandleVerifier [0x01040856+509030]
	Ordinal0 [0x00F5743B+1799227]
	Ordinal0 [0x00F5BB68+1817448]
	Ordinal0 [0x00F5BC55+1817685]
	Ordinal0 [0x00F65230+1856048]
	BaseThreadInitThunk [0x767E6739+25]
	RtlGetFullPathName_UEx [0x779490AF+1215]
	RtlGetFullPathName_UEx [0x7794907D+1165]

In [47]:
rating=[]
review_summary=[]
full_review=[]

In [48]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:5]:
    RA=i.text
    rating.append(RA)

In [49]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:5]:
    RE=i.text
    review_summary.append(RE)

In [50]:
reviewfull_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in reviewfull_tags[0:5]:
    RS=i.text
    full_review.append(RS)

In [51]:
print(len(rating), len(review_summary),len(full_review))

5 5 5

In [55]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,4,Good quality product,impressively Nice......\nOne of the greatest i...
1,5,Perfect product!,Nice products thanks flkat
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Simply awesome,Nice product thank you Flipkart ❤️
4,5,Best phone still @25-27K,Purchased at BBD @2016 Oct. After 5months of u...

# Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers”

In [56]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [57]:
driver.get("https://www.flipkart.com/")

In [58]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [59]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sneakers')

In [60]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [61]:
brand=[]
price=[]
product_description=[]

In [62]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [63]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [64]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in product_tags[0:100]:
    PD=i.text
    product_description.append(PD)

In [65]:
print(len(brand),len(price),len(product_description))

40 40 9

In [66]:
df=pd.DataFrame({'Brand':brand,"Price":price, "Product Description":product_description})

ValueError: All arrays must be of the same length

In [ ]:
df

# Q7. Scraping the first 100 shoes data

In [67]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [68]:
driver.get("https://www.myntra.com/shoes")

In [69]:
price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price.click()

In [70]:
colour=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/span[1]")
colour.click()

In [71]:
brand=[]
price=[]
product_description=[]

In [72]:
brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [73]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [74]:
product_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in product_tags[0:100]:
    PD=i.text
    product_description.append(PD)

In [75]:
print(len(brand),len(price),len(product_description))

50 50 50

In [79]:
df=pd.DataFrame({'Brand':brand,'Price':price,'Product Description':product_description})
df

,Brand,Price,Product Description
0,Nike,Rs. 7465Rs. 8295(10% OFF),Men ZOOM WINFLO8 Running Shoes
1,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
2,Nike,Rs. 11895Rs. 13995(15% OFF),Men React Infinity 3 Running
3,Nike,Rs. 9715Rs. 10795(10% OFF),Men Colourblocked Sneakers
4,ADIDAS,Rs. 9999,Men Supernova 2 Running Shoes
5,ADIDAS,Rs. 6719Rs. 13999(52% OFF),Women X9000 H.RDY Running
6,UNDER ARMOUR,Rs. 9999,Men HOVR Sonic SE Running Shoe
7,ADIDAS,Rs. 9999,Women Supernova Running Shoes
8,UNDER ARMOUR,Rs. 7649Rs. 8999(15% OFF),Men Charged Breeze Running
9,Nike,Rs. 11515Rs. 12795(10% OFF),Men JORDAN LOW Basketball Shoe
10,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
11,GABICCI,Rs. 7450,Men Textured Leather Loafers
12,Nike,Rs. 7050Rs. 8295(15% OFF),Women WINFLO 8 Running Shoes
13,ROSSO BRUNELLO,Rs. 12999,Men Printed Leather Monks
14,Puma,Rs. 9749Rs. 12999(25% OFF),Eternity Nitro Running Shoes
15,UNDER ARMOUR,Rs. 10999,Unisex Curry Basketball Shoes
16,ADIDAS,Rs. 11999Rs. 14999(20% OFF),Men Solar Glide 4 ST Running
17,ASICS,Rs. 7999Rs. 9999(20% OFF),Men GEL-CUMULUS 23 MK Running
18,ADIDAS,Rs. 9999,Men Defiant Generation Tennis
19,ADIDAS Originals,Rs. 10999,Men Niteball II Sneakers
20,Nike,Rs. 7465Rs. 8295(10% OFF),Unisex Lebron V Basketball
21,Nike,Rs. 7915Rs. 8795(10% OFF),Air Max Axis Sneakers
22,Puma,Rs. 10499Rs. 14999(30% OFF),Men Deviate Nitro Shoes
23,Nike,Rs. 7465Rs. 8295(10% OFF),Women Running Shoes
24,Puma,Rs. 9099Rs. 12999(30% OFF),Men M Nitro Running Shoess
25,Hush Puppies,Rs. 7649Rs. 8999(15% OFF),Men Solid Leather Formal Slip-Ons
26,Puma,Rs. 6749Rs. 8999(25% OFF),Unisex Wild Rider Sneakers
27,Nike,Rs. 8005Rs. 8895(10% OFF),Men SRG 3 FK Training Shoes
28,Puma,Rs. 6999Rs. 9999(30% OFF),Women Liberate NITRO Running
29,ADIDAS Originals,Rs. 11999,Men Solid Oznova Sneakers
30,PUMA Hoops,Rs. 8249Rs. 10999(25% OFF),Fives Blaze Court Basketball
31,Hush Puppies,Rs. 8499Rs. 9999(15% OFF),Men Solid Leather Formal Slip-Ons
32,ADIDAS,Rs. 7999,Women Eastrail 2 Hiking Shoes
33,Nike,Rs. 9445Rs. 10495(10% OFF),Men REACT MILER 3 Running Shoe
34,ADIDAS Originals,Rs. 11049Rs. 12999(15% OFF),Men Ozrah Leather Sneakers
35,Puma,Rs. 7199Rs. 11999(40% OFF),Men KING Top Football Shoes
36,Nike,Rs. 7465Rs. 8295(10% OFF),Men Air Max Sneakers
37,Puma,Rs. 10999,Men Velocity Nitro 2 Running
38,ASICS,Rs. 8399Rs. 13999(40% OFF),Men GEL-Quantum 360 6 Sports
39,Skechers,Rs. 7124Rs. 9499(25% OFF),Men ENIGMA Running Shoes
40,Puma,Rs. 7999Rs. 9999(20% OFF),Women Run XX Nitro Running
41,Tommy Hilfiger,Rs. 6799Rs. 7999(15% OFF),Men Sneakers
42,UNDER ARMOUR,Rs. 6999,Men Lockdown 5 Basketball
43,ROSSO BRUNELLO,Rs. 8999,Men Leather Loafers
44,ADIDAS,Rs. 10199Rs. 11999(15% OFF),Men Adizero Adios 7 Running
45,Clarks,Rs. 7899Rs. 9999(21% OFF),Men Leather Slip-Ons
46,ADIDAS,Rs. 12999,Men Dropset Training Shoes
47,ADIDAS Originals,Rs. 9999,Men Retropy F90 Sneakers
48,Puma,Rs. 7199Rs. 8999(20% OFF),Unisex Accelerate Badminton
49,Puma,Rs. 7199Rs. 8999(20% OFF),Unisex Eliminate Pro II Shoes

# Q8. Scrape first 10 laptops data.

In [80]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [81]:
driver.get("https://www.amazon.in/")

In [82]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptops')

In [83]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [84]:
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span")
CPU.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00FB78B3+2193587]
	Ordinal0 [0x00F50681+1771137]
	Ordinal0 [0x00E641A8+803240]
	Ordinal0 [0x00E924A0+992416]
	Ordinal0 [0x00E9273B+993083]
	Ordinal0 [0x00EBF7C2+1177538]
	Ordinal0 [0x00EAD7F4+1103860]
	Ordinal0 [0x00EBDAE2+1170146]
	Ordinal0 [0x00EAD5C6+1103302]
	Ordinal0 [0x00E877E0+948192]
	Ordinal0 [0x00E886E6+952038]
	GetHandleVerifier [0x01260CB2+2738370]
	GetHandleVerifier [0x012521B8+2678216]
	GetHandleVerifier [0x010417AA+512954]
	GetHandleVerifier [0x01040856+509030]
	Ordinal0 [0x00F5743B+1799227]
	Ordinal0 [0x00F5BB68+1817448]
	Ordinal0 [0x00F5BC55+1817685]
	Ordinal0 [0x00F65230+1856048]
	BaseThreadInitThunk [0x767E6739+25]
	RtlGetFullPathName_UEx [0x779490AF+1215]
	RtlGetFullPathName_UEx [0x7794907D+1165]

In [85]:
title=[]
rating=[]
price=[]

In [86]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    tt=i.text
    title.append(tt)

In [87]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    PR=i.text
    price.append(PR)

In [88]:
rating_tags=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]//span')
for i in rating_tags[0:10]:
    RA=i.text
    rating.append(RA)

In [89]:
print(len(rating), len(title),len(price))

10 10 10

In [90]:
df=pd.DataFrame({'Rating':rating,'Title':title,'Price':price})
df

  Rating                                              Title   Price
0         HP 15s- 11th Gen Intel Core i5 -8GB RAM/512GB ...  50,999
1         Microsoft Surface Laptop GO2 Touch Screen 12.4...  71,990
2         ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  25,990
3         ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...  28,990
4         Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...  27,290
5         Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...  47,490
6         HP NB 255 G8 Laptop (AMD Ryzen 3-3250U/8GB DDR...  37,490
7         Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  52,990
8         Lenovo IdeaPad Slim 3 Intel Core i3 10th Gen 1...
9         HP 15- AMD Ryzen 3-3250U 15.6 inch(39.6 cm) FH...

# Q9. Python program to scrape the salary data for Data Scientist designation

In [92]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [93]:
driver.get("https://www.ambitionbox.com/")

In [94]:
jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
jobs.click()

In [95]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [96]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search.click()

In [97]:
select=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
select.click()

In [98]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location.send_keys('Noida')

In [99]:
ND=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
ND.click()

In [100]:
job_title=[]
company_name=[]

In [101]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [102]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [103]:
print(len(job_title),len(company_name))

10 10

In [104]:
df=pd.DataFrame({'Job Title':job_title,'Company Name':company_name})
df

,Job Title,Company Name
0,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd\n · \n4.3\nbased on 2....
1,Data Scientist,CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews)
2,Data Scientist,Ericsson India Global Services Pvt. Ltd.\n4.3\...
3,Data Scientist,GENPACT India Private Limited\n4.0\n(19.9k Rev...
4,Associate Manager - Data Scientist,Optum Global Solutions (India) Private Limited...
5,Data Scientist,Optum Global Solutions (India) Private Limited...
6,Data Scientist,Ericsson India Global Services Pvt. Ltd.\n4.3\...
7,Data Scientist - Noida/Bangalore,SOPRA STERIA INDIA LIMITED\n4.2\n(1.1k Reviews)
8,EY - Data Engineer - Data Integration/Modeling...,EXL Services.com ( I ) Pvt. Ltd.\n3.9\n(5.1k R...
9,Data Scientist Intern,EY\n3.8\n(7.1k Reviews)

# Q10.python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [105]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [106]:
driver.get("https://www.ambitionbox.com/")

In [107]:
Select=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/a")
Select.click()

In [108]:
bsalary=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div")
bsalary.click()

In [109]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [110]:
dclick=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
dclick.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00FB78B3+2193587]
	Ordinal0 [0x00F50681+1771137]
	Ordinal0 [0x00E641A8+803240]
	Ordinal0 [0x00E924A0+992416]
	Ordinal0 [0x00E9273B+993083]
	Ordinal0 [0x00EBF7C2+1177538]
	Ordinal0 [0x00EAD7F4+1103860]
	Ordinal0 [0x00EBDAE2+1170146]
	Ordinal0 [0x00EAD5C6+1103302]
	Ordinal0 [0x00E877E0+948192]
	Ordinal0 [0x00E886E6+952038]
	GetHandleVerifier [0x01260CB2+2738370]
	GetHandleVerifier [0x012521B8+2678216]
	GetHandleVerifier [0x010417AA+512954]
	GetHandleVerifier [0x01040856+509030]
	Ordinal0 [0x00F5743B+1799227]
	Ordinal0 [0x00F5BB68+1817448]
	Ordinal0 [0x00F5BC55+1817685]
	Ordinal0 [0x00F65230+1856048]
	BaseThreadInitThunk [0x767E6739+25]
	RtlGetFullPathName_UEx [0x779490AF+1215]
	RtlGetFullPathName_UEx [0x7794907D+1165]

In [111]:
Experience_Required=[]
company_name=[]
Total_Salary=[]
Average=[]
Minimum=[]
Maximum=[]

In [112]:
experience_tags=driver.find_elements(By.CLASS_NAME,'sbold-list-header')
for i in title_tags[0:10]:
    exp=i.text
    Experience_Required.append(exp)

In [113]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [114]:
avg_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tags[0:10]:
  avg=i.text
  Average.append(avg)

In [115]:
TS_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in TS_tags[0:10]:
  TS=i.text
  Total_Salary.append(TS)

In [116]:
min_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_tags[0:10]:
  min=i.text
  Minimum.append(min)

In [117]:
max_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_tags[0:10]:
  max=i.text
  Maximum.append(max)

In [118]:
print(len(Experience_Required),len(company_name),len(Total_Salary),len(Minimum),len(Maximum))

10 10 10 10 10

In [119]:
df=pd.DataFrame({'Company Name':company_name,"Total Salary Record":Total_Salary,"Maximum Salary":Maximum, "Minimum Salary":Minimum})
df

,Company Name,Total Salary Record,Maximum Salary,Minimum Salary
0,Google\nSoftware Engineer Salary,(based on 51 salaries),₹ 11.7L,₹ 11.7L
1,Microsoft Corporation\nSoftware Engineer Salary,(based on 334 salaries),₹ 97.0L,₹ 97.0L
2,Goldman Sachs\nSoftware Engineer Salary,(based on 36 salaries),₹ 13.0L,₹ 13.0L
3,Amazon\nSoftware Engineer Salary,(based on 133 salaries),₹ 50.0L,₹ 50.0L
4,Servicenow Software Development India\nSoftwar...,(based on 71 salaries),₹ 12.0L,₹ 12.0L
5,Tekion\nSoftware Engineer Salary,(based on 41 salaries),₹ 34.0L,₹ 34.0L
6,Walmart\nSoftware Engineer Salary,(based on 105 salaries),₹ 8.7L,₹ 8.7L
7,PayPal\nSoftware Engineer Salary,(based on 29 salaries),₹ 45.0L,₹ 45.0L
8,Arista Networks\nSoftware Engineer Salary,(based on 56 salaries),₹ 14.0L,₹ 14.0L
9,Arcesium\nSoftware Engineer Salary,(based on 68 salaries),₹ 30.0L,₹ 30.0L